    
.flex {    
    display: flex;  /* flexbox - перевод дочерних элементов в колонки (в одну строку)  */
    justify-content: space-around; /* выравниванте по горизонту: 
                                        center - центру; 
                                        flex-end - конец строки; 
                                        space-between - крайние элементы прижимаються по краям, центральный по центру 
                                        space-around - выравнивание по центру
                                        */
    align-items: center;                  /* выравнивонье по верникали:
                                        stretch -  оп умолчанию
                                        flex-start - по верху 
                                        flex-end - по низу 
                                        center - центру;
                                        baseline - по базовой горизонтальной оси
                                    */
    flex-direction: row;            /* расположение блоков по:display:
                                            row - по порядку
                                            row-reverse - задом на перед
                                            column - по вертекали по порядку
                                            column-reverse - по вертекали  задом на перед
                                    */
    flex-wrap: wrap;              /* многострочность
                                        nowrap -не переносить блоки на другие строки
                                        wrap - переносить блоки на другие строки
                                        wrap-reverse - переносить блоки на другие строки ( задом на перед)
                                    */


}