.cuntainer{
   
    background: linear-gradient(90deg,#cff37d,#7de88c);
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    height: 100px;
    
}
.cuntainer div{
   
    float: right;
    width: 40%;
    height: 100px;
}